@{
    ViewData["Title"] = "Početna strana";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli!</h1>
    <p>Mi ćemo <a href="https://docs.microsoft.com/aspnet/core">kreirati web aplikaciju koristeći ASP.NET Core</a>.</p>
</div>
